<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>

<body>
    <h2>This Is Index Page.</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, deleniti, error maxime cumque tenetur
        adipisci porro totam consequuntur veritatis aspernatur repellendus optio enim? Sapiente quisquam a alias
        laudantium cumque dolorum unde quasi ea laboriosam, quos, nulla quae nisi id veniam vitae non, magni corrupti
        possimus! Ipsa optio quis quae, adipisci praesentium nobis?
    </p>
</body>

</html>